@use '@/assets/styles/abstracts/' as *;

.perks {
    display: flex;
    flex-direction: column;
    padding: 20rem;
    gap: 16rem;
    width: 100%;
    height: 602rem;
    background: rgba($white, 0.5);
    border-radius: 20rem;

    &__header {
        @include font(24, 500, 32);
        color: $grayscale-800;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12rem;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.hasAvailability {
                gap: 33rem;
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4rem;

                &__title {
                    @include font(18, 500, 26);
                    display: flex;
                    align-items: center;
                    color: $grayscale-700;
                }

                &__availability {
                    @include font(14, 400, 18);
                    color: $grayscale-550;
                }
            }

            &__text {
                @include font(18, 500, 26);
                color: $grayscale-700;

                &.locked {
                    color: $grayscale-300;
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 107rem;
            height: 34rem;
            background: none;
            border: none;
            cursor: pointer;

            &.unlocked {
                background: #A17FE7;
                border-radius: 99rem;
                transition: opacity 0.2s ease;

                svg{
                    color: $grayscale-200;
                    width: 20rem;
                    height: 20rem;
                }
            }
        }

        .buttonWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 107rem;
            height: 34rem;

            &.locked {
                background: #FAFAFA;
                border-radius: 100rem;
                svg{
                    color: $grayscale-200;
                    width: 20rem;
                    height: 20rem;
                }
            }
        }

        .buttonInner {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8rem;
            gap: 4rem;
            width: 107rem;
            height: 34rem;
            border-radius: 99rem;
            background: none;
            border: none;
            cursor: pointer;
        }

        .unlockIcon {
            width: 20rem;
            height: 20rem;
        }

        .lockIcon {
            width: 20rem;
            height: 20rem;
        }

        .activeUse {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8rem;
            gap: 4rem;
            width: 107rem;
            height: 32rem;
            background: #A17FE7;
            border-radius: 100rem;
        }

        .perkInUseText {
            @include font(14, 500, 18);
            color: $grayscale-50;
        }

        .perkPendingText {
            @include font(14, 500, 18);
            color: $grayscale-50;
        }
    }
}