@use '@/assets/styles/abstracts/' as *;


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16rem;
    margin: 4rem 0 19rem;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__left {
            &__title {
                @include font(24, 500, 32);
                color: $grayscale-800;
            }

            &__subtitle {
                @include font(18, 400, 26);
                color: $grayscale-500;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 4rem;

            &__full {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48rem;
                height: 48rem;
                background: $white;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.2s;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);

                svg {
                    width: 24rem;
                    height: 24rem;
                    color: $grayscale-600;
                }
            }
        }
    }
}