.container {
  width: 692rem;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 24rem;
  padding: 20rem;
  display: flex;
  flex-direction: column;
}

.sliderButtons {
  display: flex;
  align-items: center;
  gap: 6rem;
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.dot {
  width: 8rem;
  height: 8rem;
  background: #E6E6E6;
  border-radius: 50%;
  transition: background 0.3s;

  &.active {
    background: #A17FE7;
  }
}