@use '@/assets/styles/abstracts/' as *;

.similar {
    display: flex;
    flex-direction: column;
    padding: 20rem;
    gap: 8rem;
    isolation: isolate;
    width: 100%;
    height: 156rem;
    background: rgba($white, 0.5);
    border-radius: 20rem;
    position: relative;

    &__title {
        @include font(24, 500, 32);
        color: $grayscale-800;
    }

    &__avatars {
        display: flex;
        align-items: center;
        height: 44rem;
    }

    &__avatar {
        position: relative;
        width: 44rem;
        height: 44rem;
        border: 2rem solid $grayscale-200;
        border-radius: 100rem;
        margin-left: -16rem;
        overflow: hidden;

        &:first-child {
            margin-left: 0;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 44rem;
        height: 44rem;
        background: $white;
        border-radius: 100rem;
        margin-left: -16rem;
        cursor: pointer;
        transition: transform 0.2s ease;
        position: relative;
        &__icon {
            svg {
                width: 12rem;
                height: 12rem;
                color: $grayscale-700;
            }

        }

        &__text {
            @include font(18, 500, 26);
            color: $grayscale-700;
        }
    }

    &__description {
        @include font(12, 400, 14);
        color: $grayscale-600;
    }
}