@use '@/assets/styles/abstracts/' as *;

.kudos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20rem 8rem 8rem;
    gap: 4rem;
    width: 100%;
    height: 232rem;
    background: rgba($white, 0.5);
    border-radius: 20rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        isolation: isolate;
        width: 100%;
        padding-inline: 12rem;

        &__title {
            @include font(24, 500, 32);
            color: #262626;
        }

        &__button {
            background: none;
            border: none;
            cursor: pointer;
            @include font(12, 500, 14);
            color: #4D4D4D;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12rem;
    gap: 54rem;
    isolation: isolate;
    width: 100%;
    height: 168rem;
    background: #FFFDFD;
    border-radius: 20rem;
    order: 1;
    position: relative;
    overflow: hidden;

    &__image {
        position: absolute;
        width: 268rem;
        height: 268rem;
        left: 158rem;
        top: 124rem;
        background: #D485E6;
        opacity: 0.4;
        filter: blur(57.8rem);
        border-radius: 798.692rem;
        pointer-events: none;
    }

    &__text {
        width: 100%;
        @include font(14, 400, 18);
        color: $grayscale-550;
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 8rem;

        &__avatar {
            position: relative;
            width: 24rem;
            height: 24rem;
            border-radius: 100rem;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
                z-index: 1;
            }
        }
        &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__name {
            @include font(14, 500, 18);
            color: $grayscale-600
        }

        &__time {
            @include font(12, 400, 14);
            color: $grayscale-400;
        }
    }
    }
}