// Font variables
$font-family-text: var(--font-urbanist), "Urbanist", sans-serif;

// Screen size breakpoints
$breakpoint-mobile: 700px;

// Color variables
$white: #FFFFFF;
$grayscale-100: #FAFAFA;
$grayscale-400: #B3B3B3;
$grayscale-500: #999999;
$grayscale-600: #666666;
$grayscale-800: #262626;