@use '@/assets/styles/abstracts/' as *;


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16rem;
    margin: 4rem 0 19rem;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__left {
            &__title {
                @include font(28, 500, 36);
                color: $grayscale-800;
            }

            &__subtitle {
                @include font(18, 400, 26);
                color: $grayscale-500;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 4rem;

            &__date {
                height: 48rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 14rem 12rem;
                gap: 26rem;
                background: $white;
                border: none;
                border-radius: 99rem;
                cursor: pointer;
                @include font(16, 500, 24);
                color: $grayscale-600;
                transition: all 0.2s;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);

                svg {
                    width: 20rem;
                    height: 20rem;
                    color: $grayscale-600;
                }

            }

            &__full {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48rem;
                height: 48rem;
                background: $white;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.2s;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);

                svg {
                    width: 24rem;
                    height: 24rem;
                    color: $grayscale-600;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        gap: 30rem;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__value {
                @include font(24, 500, 32);
                color: $grayscale-800;
            }

            &__label {
                @include font(12, 400, 14);
                color: $grayscale-500;
            }
        }
    }
}